nav
{
	text-align: right;
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20px;
	
	


    
}
header
{
	text-align: center;
	background-image:url(cnu.png);
	background-repeat:no-repeat;
    background-position:right;
	background-size:300px;
    /* background-color:white; */
}	
#wrap {
	width: 100%;
	height: 50px;
	margin: 0;
	z-index: 99;
	position: relative;
	/* background-color: white; */
}
  
  .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
  }
  
  .navbar li {
	height: auto;
	width: 135.8px;
	float: left;
	text-align: center;
	list-style: none;
	font: normal bold 13px/1em Arial, Verdana, Helvetica;
	padding: 0;
	margin: 0;
	color:yellow;
  }
  
  .navbar a {
	padding: 18px 0;
	text-decoration: none;
	color: white;
	display: block;
  }
  
  .navbar li:hover,
  a:hover {
	background-color: white;
  }
  
  .navbar li ul {
	display: none;
	height: auto;
	margin: 0;
	padding: 0;
  }
  
  .navbar li:hover ul {
	display: block;
  }
  
  .navbar li ul li {
	background-color: white;
  }
  
  .navbar li ul li a {
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
	border-top: 1px solid #c9d4d8;
	border-bottom: 1px solid #444444;
  }
  
  .navbar li ul li a:hover {
	background-color: #a3a1a1;
  }
nav a
{
	text-decoration: none
}

a
{
	transition: all .7s ease-in-out;

}

a:visited 
{ 
	text-decoration: none;
	text-decoration: none;
	color:	#004a8e;
	
}
a:link
{
	text-decoration: none;
    color: #004a8e;
    
}
a:hover
{
	background-color:#013d75;
	color: white;

}
body
{
	background-image:linear-gradient(230deg,white,#004a8e);
    margin:0;
	padding:0;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
	color:black;
	margin: 1em;
	/* background-repeat: no-repeat; */
	

}
p
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16;
	color:black;
	text-align: left;

}
img
{
	border: #004a8e 3px dotted;

}
h1
{
	padding-bottom: .67em;
	padding-top: 1.5em;
	color:#004a8e;
	text-align: left;
	border-left: 1em;
}
@media only screen and (max-width: 600px) 
{
	header
	{
		background-image: url(cnu.png);
		background-size: 100000px;
	}
	
}

footer
{
	background-image: url(cnu.png);
	background-repeat: no-repeat;
	background-position: center;
    background-size: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
	text-align: left;
	font-size: 12px;
	color: black


}
h4
{
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 20px
}
footer a:link
{
    color: black;
    text-decoration: none;
}
